{% style %}
{% endstyle %}
<div class="rating">
{% for i in (1..5) %}
<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="goldGradient{{ i }}" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="0%" style="stop-color:gold;stop-opacity:1" />
      <stop offset="100%" style="stop-color:darkgoldenrod;stop-opacity:1" />
    </linearGradient>
  </defs>
  <polygon points="15,2 18,12 28,12 20,18 23,28 15,22 7,28 10,18 2,12 12,12"
           fill="url(#goldGradient{{ i }})" stroke="black" stroke-width="1.5"/>
</svg>
{% endfor %}
</div>