{% style %}
{% endstyle %}
<div class="rating">
  
<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
  <polygon points="15,4.5 18,12 24,12 19.5,15 21,21 15,17.5 9,21 10.5,15 6,12 12,12"
           fill="gold" stroke="black" stroke-width="1.5"/>
</svg>


</div>