{% style %}
{% endstyle %}
<div class="rating">

 <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
  <polygon points="10,3 12,8 16,8 13,10 14,14 10,12 6,14 7,10 4,8 8,8"
           fill="gold" stroke="black" stroke-width="1"/>
</svg>


</div>