{% assign x = "Pack 10" %}
{% if x contains "Pack" %}
  <p>THis is pack 10</p>
  {% else %}
  <p>This is pack 5</p>
{% endif %}
{% schema %}
  {
    "name": "Posting",
    "settings": [],
    "presets": [{
      "name": "Posting"
    }]
  }
{% endschema %}