{% style %}
  .outer-section{
    max-width:100%;
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
  }
  .inner-image,.inner-content{
    width:50%;
  }
  .inner-image img{
    width:100%;
    height:auto;
  }
{% endstyle %}
<div class="container-fluid">
  <div class="outer-section">
    <div class="inner-image">
       {{ section.settings.image_box | img_url: '', scale: 2 | img_tag: section.settings.image_box.alt }}
    </div>
    <div class="inner-content">
      
    </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Posting",
    "settings": [
      {
              "type":"image_picker",
        "id":"image_box",
      "label":"Image",
      "info":"Pick your image"
      }

    ],
    "presets": [{
      "name": "Posting"
    }]
  }
{% endschema %}