
<div class="container-fluid">
  <div class="outer-section">
    <div class="ineer-image">
      
    </div>
    <div class="inner-content">
      
    </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Posting",
    "settings": [],
    "presets": [{
      "name": "Posting"
    }]
  }
{% endschema %}