
<div class="container-fluid">
  <div class="outer-section">
    <div class="ineer-image">
      {{  }}
    </div>
    <div class="inner-content">
      
    </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Posting",
    "settings": [
      {
              "type":"image_picker",
        "id":"image_box",
      "label":"Image",
      "info":"Pick your image"
      }

    ],
    "presets": [{
      "name": "Posting"
    }]
  }
{% endschema %}